body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0; /* Rimuoviamo lo spazio tra i box */
    margin-right: 20px;
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    background-color: #fff; /* Assicuriamoci che il background sia bianco */
    border: 2px solid #ccc; /* Linee grigie intorno alla scacchiera */
    border-radius: 8px; /* Bordo arrotondato */
    position: relative; /* Per posizionare le linee divisorie */
}

#board::before, #board::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ccc;
    top: 0;
}

#board::before {
    left: 25%;
}

#board::after {
    left: 50%;
}

#board::before, #board::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    left: 0;
}

#board::before {
    top: 25%;
}

#board::after {
    top: 50%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#move-counter, #timer, #min-moves {
    font-size: 18px;
    margin-bottom: 10px;
}

#progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

#win-message {
    font-size: 18px;
    margin-bottom: 10px;
    color: green;
}

#timeout-message {
    font-size: 18px;
    margin-bottom: 10px;
    color: red;
}

.hidden {
    display: none;
}

.box {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.square {
    border-radius: 8px;
    cursor: grab;
    width: 70%;
    height: 70%;
}

.box.over {
    outline: 2px dashed #000;
}

.hide {
    display: none;
}

/* Media query per dispositivi con larghezza massima di 768px (tipicamente tablet e telefoni) */
@media (max-width: 768px) {
    #board {
        width: 80vw;
        height: 80vw;
    }

    .square {
        width: 70%;
        height: 70%;
    }

    #move-counter, #timer, #min-moves, #win-message, #timeout-message {
        font-size: 14px;
    }

    .box {
        font-size: 14px;
    }
}
