body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#move-counter, #timer, #min-moves {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

#progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

#win-message, #timeout-message {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

#win-message {
    color: green;
}

#timeout-message {
    color: red;
}

.hidden {
    display: none;
}

#board-container {
    width: 100%;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    width: 100%;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    position: relative;
}

#board::before, #board::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ccc;
    top: 0;
}

#board::before {
    left: 25%;
}

#board::after {
    left: 50%;
}

#board::before, #board::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    left: 0;
}

#board::before {
    top: 25%;
}

#board::after {
    top: 50%;
}

.box {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.square {
    border-radius: 8px;
    cursor: grab;
    width: 70%;
    height: 70%;
}

.square.dragging {
    opacity: 0.5; /* Feedback visivo */
}

.box.over {
    outline: 2px dashed #000;
}

.hide {
    display: none;
}

@media (max-width: 768px) {
    #move-counter, #timer, #min-moves, #win-message, #timeout-message {
        font-size: 14px;
    }

    .box {
        font-size: 14px;
    }
}
